.bg-primary {
    background-color: var(--blue-secondary);
}

.selected {
  background-color: var(--blue-secondary) !important;
  color: white;
}

.primary-blue {
  background-color: var(--blue-secondary);
  color : var(--blue-primary);
}